b-container.content
  b-row
    b-col.content
      h1
        strong This is the about page
      p
        | Make sure to follow the project on
        a.repo-link(:href='repo') GitHub
        |  to stay up to date with the latest releases, or contribute to the broject by opening an issue or making
        |         a pull-request!
